*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}   
/* shared styles */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.logo h2{
    font-size: 40px;
}
.color_orange{
    color: orange;
}
.menu {
    display: flex;
    gap: 51px;
    align-items: center;
}
.menu li{
    list-style: none;
}
.menu li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    color: #474747;
}
.btn{
    color: #fff8f3;
    background-color: #FD6E0A;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
    cursor: pointer;
}

/* main styles */
header{
    background-color: #fff8f3;
    background: url(../images/developer.png), url(../images/header_bg.png),#fff8f3;
    padding-top: 50px;
    background-position: top left, bottom right;
    background-repeat: no-repeat;
}
nav{
    margin: 0px auto;
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
}
.hero_banner {
    display: flex;
    margin:47px 38px 0px 230px;
    /* border: 1px solid ; */
    justify-content: center;
    align-items: center;
}
.hero_banner .hero_contant h2{
    font-weight: 600px;
    color:#474747;
    font-size: 45px;
    margin-bottom: 5px;
}
.hero_banner .hero_contant h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
.hero_banner .hero_contant p{
    color: #757575;
    font-size:18px;
    line-height:30px;
    margin-bottom: 30px;
}
.hero_banner .hero_contant{
    max-width: 585px;
}
.hero_banner .hero_img img{
    max-width: 585px;
    vertical-align: middle;
}
