*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}   
/* shared styles */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.logo h2{
    font-size: 40px;
}
.color_orange{
    color: orange;
}
.menu {
    display: flex;
    gap: 51px;
    align-items: center;
}
.menu li{
    list-style: none;
}
.menu li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    color: #474747;
}
.btn{
    color: #fff8f3;
    background-color: #FD6E0A;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
}

/* main styles */
header{
    background-color: #fff8f3;
    padding-top: 50px;
}
nav{
    margin: 0px auto;
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
}
